html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* 

// COLOR SCHEME //
Background Color: #215A6D
White Shade: #F6F6F6
Black Shade: #0F0F0F
Accent Color: #8DD7E9

// FONTS //
Heading 1: Poppins, Bold, 32px
Heading 2: Poppins, Bold, 24px

Menu: Poppins, Bold, 18px
Body: NotoSans, Regular, 18px

*/

body {
    background-color: #F6F6F6;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    max-height: none;
}

/*    SECTION 1: TITLE PAGE/NAVIGATION    */

header {
    background-image: url(./summit-assets/asset-1.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    font-family: "Poppins";
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-size: 32px;
    color: #F6F6F6;
}

a {
    text-decoration: none;
    color: #F6F6F6
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

li {
    display: inline;
    padding-left: 30px;
}

.welcomeSmallH1 {
    font-size: 32px;
    margin: 120px 0 0 0
}

.welcomeLargeH1 {
    font-size: 110px;
    margin: 0;
    line-height: .9;
}

.welcomeSmallH1, .welcomeLargeH1 {
color: #F6F6F6;
text-align: center;
}

/*    SECTION 2: ABOUT    */

.aboutH2 {
    font-family: "Poppins";
    font-size: 40px;
    color: #0F0F0F;
    text-align: center;
    margin: 70px 0 30px;
}

.aboutSummit {
    font-family: "Noto Sans";
    color: #0F0F0F;
    text-align: center;
    margin: 30px 400px 30px;
    line-height: 1.8;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-size: 18px;
    color: #0F0F0F;
    background: #8DD7E9;
    border: none;
    padding: 15px 45px;
    margin: 0 auto 70px;
}